header {
  background-color: #FAF9F6;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 20px;
  padding-top: 100px;
  padding-left: 130px; /* Add padding to the left side of the header to create space for the logo */
  padding-right: 130px;
  word-wrap: break-word;
}

body {
  background-color: #FAF9F6;
}

.logo-container {
  height: 75px; /* Set the height of the container to match the height of the logo */
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto;
  width: 250px;
}

h1 {
  font-size: 48px;
  margin: 0;
  color: #F14444;
  font-family: 'Open Sans', sans-serif; /* Add this line to set the font-family to Open Sans */
}

p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #F14444;
  word-wrap: break-word;
}

main {
  margin: 20px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
}

.grid-item {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.grid-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item h3 {
  font-size: 24px;
  margin: 0;
}

.divider {
  height: 10px;
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 50px;
}
